.usersWrapper {
    display: grid;
    padding-left: 10px;
}

.usersAvatar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    margin-top: 10px;
    padding-left: 10px;

}

.usersAvatar img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.userEl {
    margin-top: 10px;
}

.showMore {
    margin-top: 50px;
    padding-left: 500px;
}

.selectedPage {
    font-weight: bold;
}

.userInfoBlock {
    margin-top: 5px;
}