.nav {
    grid-area: n;
    background-color: #3F51B5;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: goldenrod;
}

.itemFriends {
    color: white;
    margin-top: 80px;
    font-size: 35px;
    font-family: Calibri, sans-serif;
}

.item {
    font-family: Calibri, sans-serif;
}