.contacts {
    padding-left: 10px;
}

.contacts a {
    text-decoration: none;
    color: #2A5885;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid red 2px;
    padding: 10px;
    color: red;
}

.preloader {
    float: left;
}

.button {
    margin-top: 5px;
}