.profilePhoto {
    padding: 10px;
}

.profilePhoto img{
    width: 200px;
    height: 200px;
}

.contacts {
    padding-left: 10px;
}

.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    border: solid red 2px;
    padding: 10px;
    color: red;
}