.captcha img {
    width: 150px;
    height: 50px
}

.loginBlock {
    padding-left: 10px;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formSummaryError {
    padding: 10px;
    color: red;
}