.app-wrapper {
    display: grid;
    width: auto;

    grid-template-areas:
    "h h"
    "n c"
    "f f";

    grid-template-rows: 125px 1fr 125px;
    grid-template-columns: 2fr 10fr;
}

@media all and (max-width: 575px) {
    .app-wrapper {
        grid-template-areas:
      "h"
      "c"
      "n"
      "f";
        grid-template-rows: 125px 1fr 0.5fr 125px;
        grid-template-columns: 1fr;
    }
}

.app-wrapper-content {
    grid-area: c;
    background-color: #E0E0E0;
}

