.app-wrapper {
    display: grid;
    width: 1920px;

    grid-template-areas:
    "h h"
    "n c";

    grid-template-rows: 125px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: gainsboro;
}

.app-wrapper-content img {
    width: 1600px;
    height: 135px;
}


